body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/cl.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: "itc-novarese-std-2", sans-serif;
  width: 100vw;
  height: 100vh;
  -webkit-animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#goalies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 54px;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#champions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  width: auto;
  margin-top: -60px;
  transition: all 0.5s ease-in-out 0s;
  margin-bottom: 20px;
}

#ball-img {
  display: none;
}
#start-button {
  width: 30%;
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  color: white;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#start-button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#end-button {
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  color: white;
  width: 30%;
  margin-left: 35%;
}
#end-button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#game {
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  color: white;
}

#game:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#game-over {
  display: flex;
  flex-direction: column;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

#canvas {
  cursor: none;
  border-radius: 25px;
}
.text {
  display: flex;
  justify-content: space-between;
}
#header {
  display: flex;
  justify-content: space-evenly;
  color: white;
  height: 20px;
  z-index: 100;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 70px;
  align-items: center;
}
.img-rules {
  width: 40px;
}
.img-rules:hover {
  max-width: 50px;
}
.end-text {
  color: white;
}
.rules {
  background-color: rgb(178, 178, 178, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.rules:hover {
  background-color: rgb(178, 178, 178, 0.6);
}
#canvas {
  background-image: url("../images/goal.jpeg");
}
#game-over-text {
  height: 200px;
  width: auto;
}
#final-highscore {
  color: white;
}

#scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(178, 178, 178, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
.rules-text {
  color: white;
}
.rules-1 {
  display: flex;
  flex-direction: column;
}

#fire-nail{
  height: 50px;;
  width: auto;
}
#intro{
  color: white;
}
