body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("/images/background-img.jpeg");
  color: white;
  font-family: "itc-novarese-std-2", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.goalies {
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-left: 41%;
  font-family: "Fruktur", cursive;
  font-size: 4em;
  color: white;
}

#start-ball {
  width: 30%;
  margin: 50px;
  margin-left: 40%;
}

#ball-img {
  display: none;
}
#start-button {
  width: 30%;
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  color: white;
  margin-left: 40%;
}
#start-button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#end-button {
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  color: white;
  width: 30%;
  margin-left: 35%;
}
#end-button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#game {
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  color: white;
}

#game:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#game-over {
  display: flex;
  flex-direction: column;
}

#end-image {
  width: 40%;
  height: auto;
}
#canvas {
  cursor: none;
  border-radius: 25px;
}
.text {
  display: flex;
  justify-content: space-between;
}
#header {
  display: flex;
  justify-content: space-evenly;
  
  height: 20px;
  z-index: 100;
}
