body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/cl.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: "itc-novarese-std-2", sans-serif;
}
#goalies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 51px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#champions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 200px;
  width: auto;
  margin-top: -60px;
}

#ball-img {
  display: none;
}
#start-button {
  width: 30%;
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  color: white;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#start-button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#end-button {
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  color: white;
  width: 30%;
  margin-left: 35%;
}
#end-button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#game {
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  color: white;
}

#game:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#game-over {
  display: flex;
  flex-direction: column;
  color: white;
}

#canvas {
  cursor: none;
  border-radius: 25px;
}
.text {
  display: flex;
  justify-content: space-between;
}
#header {
  display: flex;
  justify-content: space-evenly;
  color: white;
  height: 20px;
  z-index: 100;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 70px;
  align-items: center;
}
.img-rules {
  width: 40px;
}
.end-text {
  color: white;
}
.rules {
  background-color: rgb(178, 178, 178, 0.8);
  border-radius: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#canvas {
  background-image: url("../images/goal.jpeg");
}
